


@media screen and (min-width: 376px) and (max-width: 1440px){
    .bg{
        top: -6.5rem;
        width: max(100%);
        height: auto;
        margin-top: auto;
        .desktop-bg{
            display: block;
            height: auto;
            margin-top: auto;
            margin-right: auto;
        }
        .mobile-bg{
            display: none;
        }
    }
    
}