@import "globals";
@import "colors";
@import "reset";

.bg{
    position: fixed;
    z-index: -10;
    .mobile-bg{
        width: max(100%);
    }
    .desktop-bg{
        display: none;
    }
}


.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    .container{
        margin-top: 2rem;
        background-color: white;
        border-radius: 2rem;
        height: 100%;
        margin-inline: auto;
        padding-bottom: 1.5rem;
        //width: min(88.5% , 28.125rem);
        //width: max(88.5% , 300px);
        width: clamp(300px, 88.5%, 26.125rem);
        box-shadow: 0 1rem 0rem map-get($primary, "Pale-blue");
        .hero-section{
            margin-bottom: 2.375rem;
            img{
                width: max(100% , 100%);
                height: auto;
                border-radius: 2rem 2rem 0 0 ;
            }
        }
        .content{
            width: 85%;
            margin-left: auto;
            margin-right: auto;
            .title{
                font-weight: $font-weight-large;
                font-size: 1.313rem;
                color: map-get($neutral, "Dark-blue");
                margin-bottom: 1.5rem;
                text-transform: capitalize;
            }
            .text{
                word-wrap:break-word;
                font-size: $font-para-size;
                color: map-get($neutral, "Desaturated-blue");
                margin-bottom: 1.5rem;
            }
        }
    
        .pricing-container{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 1.7rem;
            height: min(5rem);
            width: max(87%);
            margin: auto;
            background-color: map-get($neutral, "Very-pale-blue");
            border-radius: 1rem;
            img{
                border: none;
                background-color: map-get($primary, "Pale-blue");
                border-radius: 50%;
                margin-left: 1.5rem;
            }
            .plan-details{
                margin-left: 0.5rem;
                .plan-type-text{
                    text-transform: capitalize;
                    font-weight: $font-weight-large;
                    color: map-get($neutral, "Dark-blue");
                }
                .plan-price-text{
                    color: map-get($neutral, "Desaturated-blue");
                    font-weight: $font-weight-medium;
                }
            }
            .change-btn{
                text-decoration: underline;
                color: map-get($primary, "Bright-blue");
                font-weight: $font-weight-large;
                text-transform: capitalize;
                cursor: pointer;
                transition: 0.2s ease-in-out;
                margin-right: 1.5rem;
                margin-left: auto;
                &:hover{
                    color: map-get($primary, "hover");
                    text-decoration: none;
                }
            }
        }

        .payment-btns{
            .proceed-btn{
                margin-top: 1.5rem;
                outline: none;
                border: none;
                border-radius: 0.8rem;
                height: min(3.125rem);
                width: max(87%); 
                background-color: map-get($primary, "Bright-blue");
                color: white;
                font-weight: $font-weight-large;
                font-size: 0.95rem;
                cursor: pointer;
                box-shadow: 0 1rem 1.7rem map-get($primary, "Pale-blue");
                transition: 0.5s ease;
                &:hover{
                    background-color: map-get($primary, "hover");
                }
            }
            .cancel-btn{
                margin-top: 1.813rem;
                text-transform: capitalize;
                font-weight: $font-weight-large;
                color: map-get($neutral, "Desaturated-blue");
                cursor: pointer;
                transition: 0.3s ease-in-out;
                width: 35%;
                margin-right: auto;
                margin-left: auto;
                &:hover{
                    color: map-get($neutral, "Dark-blue");
                }
            }
        }
    }
}


.attribution{
    margin-top: 1rem;
    margin-bottom: auto;
    z-index: 50;
}

@import "layout2";